/* Get google font embaded
======================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Common Styles
================ */
.inter{
    font-family: "Inter", sans-serif;
}

.rale{
    font-family: "Raleway", sans-serif;
}
.common-margin{
    max-width: 1200px;
    margin: 0 auto;
}
.primary-btn{
    border-radius: 10px;
    background: rgb(78, 71, 255);
   font-weight: 500;
   font-size: 14px;
   color: white;
   border: none;
   padding: 8px 20px 8px 20px;
}
/* Header Style
=============== */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav Bar Styles
================= */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
}
.navigation h1{
    font-size: 24px;
    font-weight: 900;
    color: #4E47FF;
}

/* Hero Section Styles
=================== */
.hero-sec{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-sec h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #252432;
    margin-top: 200px;
}
.hero-sec button{
    margin-bottom: 150px;
}