/* Get google font embaded
======================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Common Styles
================ */
.inter{
    font-family: "Inter", sans-serif;
}

.rale{
    font-family: "Raleway", sans-serif;
}
.common-margin{
    max-width: 1200px;
    margin: 0 auto;
}
.primary-btn{
    border-radius: 10px;
    background: rgb(78, 71, 255);
   font-weight: 500;
   font-size: 14px;
   color: white;
   border: none;
   padding: 8px 20px 8px 20px;
}
/* Header Style
=============== */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav Bar Styles
================= */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
}
.navigation h1{
    font-size: 24px;
    font-weight: 900;
    color: #4E47FF;
}

/* Hero Section Styles
=================== */
.hero-sec{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-sec h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #252432;
    margin-top: 200px;
}
.hero-sec button{
    margin-bottom: 150px;
}

/* Main Section Styles
===================== */
main{
    background-color: #f5f8ff;
}

/* See it section styles
===================== */
.see-it-container{
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
    
}
.text-container h3{
    font-size: 32px;
    font-weight: 700;
    color: #252432;
}
.text-container p{
    font-size: 16px;
    font-weight: 400;
    color: #25243280;
}
.webflow-img img{
    border-radius: 40px;
    width: 280px;
    
}

/* Productive Users Section styles
================================== */
.productive-container{
    background: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-top: 116px;
}
.productive-container h3{
    font-size: 28px;
    font-weight: 700;
    color: #252432;
    padding-top: 50px;
    text-align: center;
    margin-bottom: -40px;
}
.productive-part{
    display: flex;
    justify-content: space-around;

}
.productive-part h4{
    font-size: 55px;
    font-weight: 700;
    color: #4E47FF;
    margin-bottom: 5px;
}
.productive-part p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

/* Our Users Say Section Styles
=============================== */
.our-user-container{

}
.our-user-container h3{
    font-size: 30px;
    font-weight: 700;
    color: rgb(37, 36, 50);
    text-align: center;
    margin-top: 137px;
}
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card{
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 25px;
    border: 1px solid rgb(242, 237, 237);
    width: 33%;
}
.star{
    padding-top: 24px;
    margin-bottom: -15px;
}
.card h5{
    font-size: 18px;
    font-weight: 600;
    color: #1E1E1E;
    margin-bottom: 5px;
}
.card p{
    font-size: 14px;
    font-weight: 600;
    color: #757575;
}
.avatar{
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar img{
    border-radius: 50%;
    height: 100%;
}